<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PB.FEval.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<PB.FEval.Properties.Settings>
   <setting name="Formula" serializeAs="String">
    <value>((5+4)-3)*2/1</value>
   </setting>
  </PB.FEval.Properties.Settings>
	</userSettings>
	<startup/></configuration>
